<!DOCTYPE html>
<html lang=<%= langIso  %>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content=<%= colorHex %>>
    <meta name="description" content=<%= metaDesc %>>
    <title><%= tabTitle %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= message %></h1>
</body>
</html>
